# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Env files
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
.vercel
tsconfig.tsbuildinfo
loewenbraeu-website/node_modules
loewenbraeu-website/.next
